/*
    1- common style
    2- General style 
    3- Sections 
        3.0 Header Section
        3.1 Home Section 
        3.2 About Section
        3.3 Potfolio Section
        3.4 Sevice Section
        3.5 Prices Section
        3.6 Team Section
        3.7 Blog Page
        3.8 Contact Section 
        3.9 Footer Section
*/

/* 1- Common styles */

.mg-b-5 {
    margin-bottom: 5px;
 }

.mg-b-10 {
    margin-bottom: 10px;
} 

.mg-b-15 {
    margin-bottom: 15px;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.mg-b-25 {
    margin-bottom: 25px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.float-left {
     float: left;
}

.overflow-hidden {
     overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}    

.overlay1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}     

.hover-opacity{
    transition:opacity 1s ;
}

.hover-opacity:hover {
    opacity:0.8;
}


.ltr-effect {
    position: relative;
}

.ltr-effect:after {
     position: absolute;
     content: "";
     width: 0;
     top:0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #333;
     transition: width 0.5s;
     z-index: -1;
}

.ltr-effect:hover:after {
    width: 100%;
}


.ttb-effect {
    position: relative;
}

.ttb-effect:after {
     position: absolute;
     content: "";
     width: 100%;
     height: 0;
     top:0;
     left: 0;
     bottom: 0;
     right: 0;
     background: #333;
     transition: height 0.5s;
     z-index: -1;
}

.ttb-effect:hover:after {
    height: 100%;
}

/* 2- General Css Styles*/    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* css3 تقوم بايقاف زيادة حجم العنصر عند زيادة البادنج*/
 }    

:root {
    --maincolor : #6195ff;
    --graycolor : #999;
    --bg-gray : #f9f9f9;
    --whitecolor : #fff;
}

.container {
     width: 80%;
     margin: auto;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.clear {
    clear: both;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
}

button {
    font-family: inherit;
}

a {
    text-decoration: none;
}

.section-header {
    text-align: center;
}

.section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
 
.line {  
    display: block;
    height: 5px;
    width: 60px;
    background-color: var(--maincolor);
    margin: 0 auto 70px auto;
}

.pd-y {
    padding: 120px 0;
}

/* 3- Sections Styles */
/* 3.0 Header Section */

.header {
      position: fixed;
      background: rgba(0, 0, 0 , 0.4);
      width: 100%; 
      z-index: 10;
}

.header .logo {
    width: 30%;
    float: left;
}

.header .logo img {
    width: 20%;
    margin-top: 15px ;
}

.header .nav {
    width: 70%;
    float: left ;
    list-style: none;
    text-align: right;
}

.header .nav > li {
   display: inline-block ;
   text-align: right;
}

.header .nav > li > a {
    color:var(--whitecolor);
    font-size: 16px;
    text-decoration: none ;
    padding: 30px 15px;
    display: block;    
}

.header .nav > li > a.active:after , 
.header .nav > li > a:after {
    content: "";
    display: block;
    margin-top: 2px;
    background-color: var(--maincolor);
    transition: width 0.5s;
    height: 3px; 
}

.header .nav > li > a.active:after {
    width: 100%;
}

.header .nav > li > a:after {
    width: 0%;
}

.header .nav > li > a:hover:after {
  width: 100%;
}


.dropdown {
    position: relative;  

  }
  
.dropdown-menu {
  position: absolute;
  background: var(--maincolor);
  width: 150px;
  text-align:center ;
  left: -50%;
  top: 70%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s , visibility 0.5s ;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
  color:var(--whitecolor);
  display: block;
  padding: 10px;
}

/* 3.1 Home Section */
.home {
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.home-content {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50% );
    text-align: center;
}

.home .title {
    color:var(--whitecolor);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home .home-desc {
    color: var(--whitecolor) ;
    margin: 20px 0;
    letter-spacing:2px ;
    line-height: 1.5;
}

.home .btn {
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.home .btn-start {
    margin-right: 10px;
    background-color:var(--whitecolor);
}

.home .btn-learn {
    background-color:var(--maincolor);
    color:var(--whitecolor);
}


/* 3.2 About Section */

.about {

}

.about-content {
    overflow: hidden;
}

.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #f1f0f0;
    padding:50px 20px;
}

.about-item.mg {
    margin: 0 5% 0 5%;
}

.about-item .icon {
    color: var(--maincolor);
    margin-bottom: 10px;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-desc {
    line-height: 1.6;
    margin-bottom: 10px;
    color:var(--graycolor);
}


.about-item-link {
    color: var(--maincolor);
    text-transform: capitalize;
}

.about-item:hover .about-item-title {
    color:var(--whitecolor);
}


/* 3.3 Portfolio Section */

.portfolio {
    background:var(--bg-gray);
}

.portfolio-content {
    overflow: hidden;
}

.portfolio-item {
    position: relative;
    width: 32%;
    float: left;
    margin-bottom: 50px;
    padding: 20px;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item.mg {
    margin: 0 2% 0 2%;
}

.portfolio-item .layer-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.5) ;
    opacity: 0;
    visibility:hidden ;
    transition: opacity 0.5s;

}

.layer-content .layer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50% );
    width: 80%;
    text-align: center;
}

.layer-content .category {
   color: var(--maincolor);
   text-transform: uppercase;
   display: block;
   margin-bottom: 5px;
   margin-top: 10px;
   position: relative;
   transition: top 0.5s opacity 0.5s;
   transition-delay: 0.1s;

}

.layer-content-title {
   font-size: 20px;
   color:var(--whitecolor);
   margin-bottom: 10px;
   margin-top: 10px;
   position: relative;
   transition: top 0.5s opacity 0.5s;
   transition-delay: 0.3s;
}

.layer-content a i {
    line-height: 40px;
    display:inline-block;
    width: 40px;
    height: 40px;
    color:var(--whitecolor);
    margin-top: 10px;
    position: relative;    
    transition: top 0.5s opacity 0.5s;
    transition-delay:0.5s;

}

.portfolio-item:hover .layer-content ,
.portfolio-item:hover .layer-content .category ,
.portfolio-item:hover .layer-content-title ,
.portfolio-item:hover .layer-content a {
    opacity: 1;
    visibility: visible;
}


/* offer section */

.offer-content {
    overflow: hidden;
}

.offer-item {
    position: relative;
    float: left;
    width: 32%;
    padding:30px 15px 30px 70px;
    border:0.5px solid var(--bg-gray);
    text-align: left;
    margin-bottom: 2%;
}

.offer-item.mg {
    margin:0 2%;
}

.offer-item .icon {
    position: absolute;
    top: 20%;
    left: 5%;
    color: var(--maincolor);
    }v

.offer-item-title {
    text-transform: capitalize;
    margin-bottom:15px;
    transition: color 0.5s;
}

.offer-item-desc {
    text-transform: capitalize;
    margin-bottom:15px;
    line-height: 1.6;
    color:var(--graycolor) ;
}

.offer-item:hover .offer-item-title {
    color: var(--whitecolor) ;
}


/* choose Section */
.choose {
    background : var(--bg-gray);
}

.choose-item {
    float: left;
    width: 50%;   
    text-align: left;
}

.choose .section-header {
    text-align: left;
}

.choose-item-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.choose-item .line {
    margin: 0 0 40px 0;
}

.choose-item-desc {
    padding-right: 20px;
    color:var(--graycolor);
    line-height: 1.5;
    font-size: 18px;
    margin: 10% 0;
}

.choose-list {
    list-style: none ;
}

.choose-item li {
     margin-bottom: 10px;
} 

.choose-item li i {
    border: 1px solid var(--maincolor) ;
    color: var(--maincolor);
    padding: 7px 5px ;
    border-radius: 50%;
}

.choose-item-img img {
    width: 100%;
}

.choose-bollets {
    list-style:none;
    text-align: center;
}

.choose-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color var (--bg-gray);
    margin: 10px 5px;
    border-radius: 4px;
    padding: 0 5px;
    transition:color 1s;
}

li.choose-bollets1 { 
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: var(--maincolor);
    margin: 10px 5px;
    border-radius: 4px;
    padding: 0 10px;
}

.choose-bollets li:hover {
    background-color: var(--maincolor);
}

/* Statistic Section */

.statistic {
    width: 100%;
    height: 30%;
    background-image: url(../images/background/background2.webp);
    background-attachment: fixed;
    background-position:center center;
    position: relative;
}

.statistic-content {
    overflow: hidden;
  
}

.statistic-item {
    float: left;
    width: 25%;
    margin: 70px auto;
    color: var(--whitecolor)  ;
    text-align: center; 
}

.statistic i {
    color:var(--maincolor) ;
    
}

.statistic-item-title {
    margin: 5px 0;
    font-size: 35px;
}

.statistic-item-desc {
    font-size: 16px;
    text-transform: capitalize;
}

/* Pricing Table */

.pricing-table {
   
}

.pricing-table-content{
    overflow: hidden;
}

.pricing-item {
    float: left;
    width: 30%;
    border: 2px solid var(--bg-gray);
    text-align: center;
    position: relative;
    padding: 30px 0;
}

.pricing-item.mg {
    margin: 0 5%;
}

.pricing-item-text {
    color:var(graycolor);
    font-size: 18px;
    text-transform: uppercase;
}

.pricing-item-permonth {
    width: 150px;
    height: 150px;
    margin: 40px auto ;
    padding: 10px 0;
    border: 2px solid var(--maincolor);
    border-radius: 50%;
    transition: color 0.5s;
    font-size: 50px;
}

.pricing-item-permonth .month {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.pricing-list {
    color:var(--graycolor);
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
    list-style: none;
}

.pricing-purchase {
    background: none;
    border: 0;
    width: 140px;
    padding: 10px 15px;
    border: 2px solid var(--maincolor);
    border-radius: 2px;
    display: block;
    margin: 15px auto 0 auto;
}

.pricing-purchase a {
    color: var(--maincolor);
    font-size: 16px ;
}

.pricing-item:hover .pricing-item-text {
    color: var(--maincolor);
}

.pricing-item:hover .pricing-item-permonth {
    color:var(--whitecolor);
}

/* employees */

.employees {
    height: 40%;
    background-image: url(../images/background/background3.webp);
    background-position:center center;
    background-attachment: fixed;
    position: relative;
    color: var(--bg-gray);
}

.employees-content {
    overflow: hidden;
    width: 80%;
    margin: 5% auto;
}

.employees-item {
    position: relative;
    width: 47.5%;
    float: left;
    margin: 5% auto 5% auto;
    display: block;
}

.employees-item-img img{
    border-radius: 50%;
}

.employees-item-header {
    position: absolute;
    top: 0%;
    left: 18%;
}

.employees-item-desc {
    margin-top: 5%;
    letter-spacing: 2px;
    font-size: 16px;
}

.employees-item.mg {
    margin: 5% 5% 0 0;
}

.employees-item-head {
    text-transform: capitalize;
    margin-bottom: 5%;
}

.employees-item-work {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--maincolor);
}

/* Our Team Section */

.our_team {
    
}

.team_content {
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.team_item {
    float: left;
    width: 30%;
    background var (--bg-gray);
    padding: 40px 20px;
    text-align: center;
}

.team_item.mg {
    margin: 0 5%;
}

.team_item .team-img {
    position: relative;
    width: 90%;
    margin: auto;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0 , 0.5);
    opacity: 0;
    visibility: hidden;
}

.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background:var(--maincolor) ;
    color:var(--whitecolor);
    margin-left: auto;
}

.team-overlay a i {
    line-height: 40px;
}

.team_item .team-img img{
    width: 100%;
}

.team-info .team_item_h2 {
    color: rgb(39, 39, 39);
    text-transform: capitalize;
    margin: 10px;
    transition: color 0.5s;
}

.team-info .team_item_desc {
    color: var(--graycolor);
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.5s;
}

.team_item:hover .team-overlay {
    visibility: visible;
    opacity: 1;
}

.team_item.ttb-effect {
    z-index: 1;
}

.team_item:hover .team_item_desc {
    color: var(--maincolor);
}

.team_item:hover .team_item_h2 {
    color:var(--whitecolor);
}

/* Recent News Section */

.blog {
    background: var(--bg-gray);
}

.blog-content {
    overflow: hidden;
}

.blog-item {
    float: left;
    width: 30%;
}

.blog-item-img img {
    width: 100%;
}

.blog-item.mg {
    margin: 0 5%;
}

.blog-item-info {
    margin: 0 10px;
}

.blog-item-list {
    list-style: none;
    margin: 10px 0;
}

.blog-item-list li {
    display: inline-block;
    margin: 0 5px;
}

.blog-item-list i{
    color: var(--maincolor);
}

.blog-item-title {
    margin-bottom: 20px;
}

.blog-item-desc {
    margin-bottom: 10px;
    line-height: 1.5;
}

.blog-item-link {
    color: var(--maincolor);
}

/* Touch Section */

.touch {

}

.touch-content {
    overflow: hidden;
}

.touch-item {
    float: left;
    width: 30%;
    text-align: center;
}

.touch-item.mg {
    margin: 0 5%;
}

.touch-item i {
    color: var(--maincolor);
    margin-bottom: 10px;
}

.touch-desc {
    color: var(--graycolor);
    margin: 20px 0 40px 0;
}

.touch-form{
    text-align: center;
}

input[type=text] {
    color: var(--graycolor);
    background: var(--bg-gray);
    width: 32.5%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #subject {
    width: 65%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  textarea {
    width: 60%;
    height: 10%;
    color: var(--graycolor);
    background:var(--bg-gray);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  input[type=submit] {  
    background-color: var(--maincolor);
    color:var(--whitecolor);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/*   
  input[type=submit]:hover {
    background-color: #5e5f5e;
  } */

  /* Footer Section */

  .footer {
      background: rgb(39, 39, 39);
      text-align: center;
      padding: 60px 0;
  }

  .footer-img {
      margin-top:2% ;
  }

  .footer-list {
      list-style: none;
      margin: 20px 0;
  }

  .footer-list li {
      display: inline-block;
  }

  .footer-list li a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    background: var(--maincolor);
    color:var(--whitecolor);
    border-radius: 50%;
  }

  .footer-list li a i {
      line-height: 50px;
  }

  .copyright {
      text-transform: uppercase;
      color:var(--whitecolor);
      font-size: 15px;
  }

  .copyright a {
      color: #6195ff;
  }
  